html {
  scroll-behavior: smooth;
}

.profile-pic {
  border-radius: 50%;
}

.status:hover {
  background-color: #343a40;
}

.top-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

.textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.feed {
  height: 100vh;
}

.back:hover {
  color: #0275d8;
}
